/* CSS TABLE OF CONTENTS
=====================================
    #BASE CSS
    #SITE-SPECIFIC CSS
===================================== */

/* BASE (Initital Setup)
=====================================
    #RESET
    #HTML5
    #BASE TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
    #IMAGES
    #CLEARFIX
===================================== */

/* SITE SPECIFIC (Custom CSS for The Client Site)
=====================================
    #SITE-SPECIFIC GENERAL STYLING
    #SITE-SPECIFIC TYPOGRAPHY
    #LAYOUT/GRID
    #SECTIONS
    #MEDIA QUERIES
    #@FONT-FACE
===================================== */
/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* HTML5 */
header, section, footer, aside, article, nav, figure {
  display: block;
}

/* BASE TYPOGRAPHY */

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; /* 1em = 16px*/
  line-height: 1.5em;
  color: #333;
}

/* HEADINGS 48, 36, 24, 21, 18, 16 */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-size: 3em; /* 48px / 16px = 3em */
  line-height: 1em;
}

h2 {
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em; /* 24px / 16px = 1.5em */
  line-height: 1.2em;
}

h4 {
  font-size: 1.3125em; /* 21px / 16px = 1.3125em */
  line-height: 1.3em;
}

h5 {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.4em;
}

h6 {
  font-size: 1em; /* 16px / 16px = 1em */
  line-height: 1.5em;
}


/* PARAGPRAHS */
p {
  margin-bottom: 2em;
}

/* LINKS */
a {
  color: #0fa4e2;
  text-decoration: none;
}

a:hover, a:active, a:visited {
  color: #0fa4e2;
  text-decoration:underline;

}


/* LISTS */
ul, ol {
  margin-bottom: .5em;
}

ul li ul, ul li ol, ol li ol, ol li ul {
  margin-bottom: 0;
}

li {
  margin-left: 1.875em;
}

/* IMAGES */
.scale-with-grid {
  max-width: 100%;
  height: auto;
}


/* CLEARFIX */
.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  clear: both;
  *zoom: 1;
}

/* SITE SPECIFIC CSS */
body {
  background: #fff;
}

.container {
  position: relative;
  width:48em; /* 960px / 16px = 60em / 1.25em = 48em */
  padding: 0 0.625em;
  margin: 0 auto;
}

h1 {
  /* 42px/50px */
  font-family:"Arial Black", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.625em;
  line-height: 1.19em;
}

h2 {
  /*24px/50px */
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing:-.025em;
}

h3 {
  /*21px/50px */
  font-size: 1.3125em;
  line-height: 1.143em;
  letter-spacing: -.04em;
}

h4 {
  /* 11px/50px*/
  font-weight: normal;
  font-size: .6875em;
  line-height: 1.27em;
  color: #615c5c;
}

/* LAYOUT/GRID */
.section02 .col {
  float: left;
}

.footer .col {
  float: left;
}

/* HEADER */
.header {
  height: 155px;
}

.header h1{
  margin-bottom: 0;
  text-align: center;
}

.header a{
  color: #000;
}

.logo h1 {
  margin-top: 20px;
}

.tagline {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}


/* MAIN NAV */
.mainnav {
  background: #fff;
  text-align: center;
}


.mainnav ul {
  margin: 0;
  list-style: none;
border-top: 2px solid #ececec;
border-bottom: 2px solid #ececec;
  }

.mainnav li {
  margin: 0;
  display: inline-block;
}

.mainnav li a small{
  color: #999;
}

.mainnav a {
  display: block;
  font-family: "Arial Black", "Arial Bold", Helvetica, Gadget, sans-serif;
  font-size: 1em;
  line-height: 1em;
  padding: .75em;
  color: #000;
}

.mainnav a:hover {
  background: #ececec;
  color: #000;
  text-decoration: none;
}

.mainnav a:active {
  color: #000;
  background: #ececec;
}

.mainnav a.active {
  color: #000;
  background: #ececec;
}

a.nav-toggle {
display: none;
box-sizing: border-box;
width: 12px;
height: 16px;
margin:  16px auto;
position: relative;
}

a.nav-toggle:hover {
  background: #ececec;
  text-decoration: none;
}

.nav-toggle:before, .nav-toggle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.nav-toggle:before {
  border-top:  4px solid #fff;
  border-bottom:  4px solid #fff;
}

.nav-toggle:after {
  top: 12px;
  height: 4px;
  background: #fff;
}

.nav-toggle.active:before {
  border: 0;
  top: 12px;
  height: 4px;
  background: #fff;
  transform: rotate(45deg);
}

.nav-toggle.active:after {
  transform: rotate(-45deg);
}

/* SECTION 01 */
.section01 {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.section01 h2 {
  font-family: Helvetica, sans-serif;
  font-size: 5.93em; /* 95 px / 16px = 5.93em */
  font-weight: 600;
}

/* SECTION 02 */
.section02 {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}

.section02 h3 {
  font-family: Helvetica, sans-serif;
  font-size: 2.25em; /* 36 px / 16px = 2.25em */
  margin: 0;
  padding: 0;
}

.section02 h4 {
  font-family: Helvetica, sans-serif;
  font-size: 0.625em; /* 10 px / 16px = 0.625em */
  margin: 0;
  padding: 0;
}

.section02 .col {
width: 31.9%;
float: left;
margin-right: 2%;
}

.section02 .col:last-of-type {
  margin-right: 0;
}

/* SECTION 03 */
.section03 {
  text-align: center;
  display: block;
}

.section03 h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  margin: 0;
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
}

.section03 h3, p {
  font-family: Helvetica, sans-serif;
  font-size: 0.95em;
}

.section03 h3 {
  font-weight: normal;
  padding: 20px;
  border-bottom: 2px solid #ececec;
}

.section03 h6 {
  text-align: left;
  padding-left: 20px;
}

.section03 ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.section03 p {
  text-align: left;
}

.section03 .row {
  width: 80%;
  margin: 0 auto;
}

.section03 .col-6 {
  width: 50%;
  float: left;
}

.section03 .col-7 {
  width: 50%;
  float: right;
}

.section03 .fa-bookmark {
  float: left;
}

/* ABOUT PAGE */
main {
  background: #fff;
  padding: 3em 0;
}

.main {
  background:url(';;/images/about-page-photo.jpg') no-repeat 0 0;
  margin-left: 18%;
}

.article {
  /*width: 83%;  780px / 940px * 100 = 82.9% */
  float: left;
  text-align: center;
}

.article h1 {
  margin-bottom: 0.15em;
  text-align: center;
  font-weight: bold;
}

.article .date {
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.article p {
  text-align: left;
}


.article .quote {
display: inline-block;
text-align: left;
font-weight: bold;
background: #ececec;
border-top: 2px solid #cbcbcb;
border-bottom: 2px solid #cbcbcb;
margin-bottom: 30px;
padding: 30px;
}

.article h3 {
  font-weight: normal;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 390px;
  background: #ececec;
  display: inline-block;
}

.footer h1 {
  font-size: 16pt;
}

.footer .logo a:active {
  color: #000;
  text-decoration: none;
}

.footer ul{
  list-style: none;
}

.footer .col {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.footer .col a {
  text-align: left;
  color: #000;
}

.footer .logo h1 {
  margin-top: 1em;
  font-weight: bold;
  font-size: 32pt;
  text-decoration: none;
}

.footer .copyright {
  font-size: 10pt;
}

.left-nav {
  margin: 0;
  padding: 0;
  float: left;
}

.right-nav {
  margin-top: 2em;
  margin-bottom: none;
  float: right;
  color: #999;
  font-size: 10pt;
}

.footer .small{
margin: 0;
color: #999;
}
