/* CSS TABLE OF CONTENTS
=====================================
  #BASE CSS
  #SITE-SPECIFIC CSS
===================================== */

/* BASE CSS (Initital Base Setup)
=====================================
  #RESET
  #HTML5
  #BASE TYPOGRAPHY
  	#BODY
  	#HEADINGS
  	#PARAGRAPHS
  	#LINKS
  	#LISTS
  #IMAGES
  #CLEARFIX
===================================== */

/* #RESET
================================================== */
* {
	margin: 0;
	padding: 0;
}

/* #HTML5
================================================== */
header, section, footer, aside, nav, article, figure {
	display: block;
}

/* #BASE TYPOGRAPHY */

/* BODY */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%; /* 1em = 16px */
	line-height: 1.5em; /* 16px x 1.5em = 24px */
	color: #333;
}

/* HEADINGS
Based on a Traditional Typographic Scale:
48, 36, 24, 21, 18, 16 */

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
}

h1 {
	font-size: 3em; /* 48px / 16px = 3em */
	line-height: 1em;
}

h2 {
	font-size: 2.25em; /* 36px / 16px = 2.25em */
	line-height: 1.1em;
}

h3 {
	font-size: 1.5em; /* 24px / 16px = 1.5em */
	line-height: 1.2em;
}

h4 {
	font-size: 1.3125em; /* 21px / 16px = 1.3125em */
	line-height: 1.3em;
}

h5 {
	font-size: 1.125em; /* 18px / 16px = 1.125em */
	line-height: 1.4em;
}

h6 {
	font-size: 1em; /* 16px / 16px = 1em */
	line-height: 1.5em;
}

/* Paragraphs */
p {
	margin-bottom: 2em;
}

/* Links */
a {
	color: #39c;
	text-decoration: none;
}

a:visited, a:hover, a:focus {
	color: #069;
}


/* Lists */
ul, ol {
	margin-bottom: .5em;
}

ul li ul, ul li ol, ol li ul, ol li ol {
	margin: 0;
}

li {
	margin-left: 1.875em;
}


/* Images */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

a img {
	border: none;
}

/* CLEARFIX */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* SITE SPECIFIC CSS */

body {
	background: #fff;
}

.container {
	position: relative;
	width: 48em; /* 960px / 16px = 60em / 1.25em = 48em */
	padding: 0 0.625em;
	margin: 0 auto;
}

h1 {
	font-family:Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 2.625em; /* 42px */
  line-height: 1.19em; /* 50px */
}
}

h2 {
	font-family:Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 2.625em; /* 42px */
	line-height: -.025em;
}

h3 {
	font-weight: bold;
	font-size: 1.3125em; /* 21px */
	line-height: 1.143em; /* 24px */
	letter-spacing: -.04em;
}

h4 {
	font-weight: normal;
	font-size: .6875em; /* 11px */
	line-height:1.27em; /* 14px */
}

/* SITE-SPECIFIC TYPOGRAPHY */

/* LAYOUT/GRID */
.container {
	/* Fixed width: 960px */
  width: 50em; /* 960px / 16px (base) = 60em - (5em padding x 2) = 50em */
	margin: 0 auto;
	padding: 0 4em;
}

.header a {
	color: #000;
}

.section01 {
	width: 60%;
	margin: 0 auto;
}

.section02 {

}

.section03 {

}


/* HEADER */
.header {
	height: 155px;
	text-align: center;
}

.logo {
	margin-top: 80px;
	margin-bottom: 0;
}

.logo a {
	display: block;
	background-repeat: no-repeat;
}

.tagline {
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

/* Main Nav */
.main-nav {
	background: #fff;
}

.main-nav ul {
	margin: 0;
	list-style: none;
	text-align: center;
}

.main-nav li {
	margin: 0;
	display: inline-block;
}

.main-nav li small {
	display: block;
}

.main-nav li a {
	padding: 1em;
	display: block;
}

.main-nav a:hover {
	background: #ececec;
	color: #000;
}

.main-nav a:active {
	color: #000;
	background: transparent;
}

/* section01 */
.section01 {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	background: #ececec;
}

.section01 h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 5.950em; /* 95.21 px */
	font-weight: 600;
}

.section02 {
padding-top: 2em;
padding-bottom: 2em;
	display: inline-block;
}

.section02 h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.25em; /* 36px */
}

/* Footer */
.footer {
	background: #ccc;
}

.footer  ul li {
	margin: 0;
	list-style: none;
}

.footer  ul li a {
	display: block;
	color: #ececec;
	font-size:
	line-height: normal;
	font-family: Helvetica, Arial, san-serif;
	font-weight: bold;
	text-transform: uppercase;
}
/* SECTIONS
Description: Style major site sections here.
(e.g. header, navs/navigation, site-specific content sections,
asides, sidebars, footer, sub page-specific styling, etc.)
===================================== */


/* MEDIA QUERIES
Description: Define screen-size breakpoints here.
(e.g. Desktop, Tablet, Mobile)
===================================== */

/* Tablet (Between 768px - 992px)*/
@media all and (min-width: 48em) and (max-width: 62em) {

	body {
		font-size: 93.75%; /* 15px */
	}

	.container {
		width: 80%;
		margin: 4%;
		padding: 6%;
	}

}

/* MOBILE (Smaller than 768px)*/
@media all and (max-width: 47.9999em) {

	body {
		font-size: 87.5%; /* 14px */
	}

	.container {
		width: 84%;
		margin: 3%;
		padding: 5%;
	}

}

/* @FONT-FACE (Webfonts)
===================================== */


/*
=====================================
====== END SITE- SPECIFIC CSS =======
=====================================
*/
