/* CSS TABLE OF CONTENTS
=====================================
    #BASE CSS
    #SITE-SPECIFIC CSS
===================================== */

/* BASE (Initital Setup)
=====================================
    #RESET
    #HTML5
    #BASE TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
    #IMAGES
    #CLEARFIX
===================================== */

/* SITE SPECIFIC (Custom CSS for The Client Site)
=====================================
    #SITE-SPECIFIC GENERAL STYLING
    #SITE-SPECIFIC TYPOGRAPHY
    #LAYOUT/GRID
    #SECTIONS
    #MEDIA QUERIES
    #@FONT-FACE
===================================== */

/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* HTML5 */
header, section, footer, aside, article, nav, figure {
  display: block;
}

/* CLEARFIX */
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  clear: both;
  *zoom: 1;
}
/* BASE TYPOGRAPHY */

/* BODY */
body {
  font-family: Helvetica,Arial, sans-serif;
  font-size: 100%; /* 1em = 16px */
  line-height: 1.5em;
  color: #090708;
}

/* HEADINGS
  48, 36, 24, 21, 18, 16
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-size: 3em; /* 48px / 16px = 3em */
  line-height: 1.15em;
}

h2 {
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em; /* 24px / 16px = 1.5em */
  line-height: 1.25em;
}

h4 {
  font-size: 1.3125em; /* 21px / 16px = 1.3125em */
  line-height: 1.3em;
}

h5 {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.35em;
}

h6 {
  font-size: 1em; /* 16px / 16px = 1em */
  line-height: 1.4em;
}


/* PARAGPRAHS */
p {
  margin-bottom: 1.25em;
}

/* LINKS */
a {
  color: #39c;
  text-decoration: none;
  outline: 0; }
a:hover {
  color: #39c; }

/* LISTS */

ul, ol {
  margin: 0 0 1.25em 0;
  clear:both;
}

ul li ul, ul li ol, ol li ol, ol li ul {
  margin: 0;
}

li {
  clear:both;
  margin-left: 1.875em;
}

/* IMAGES */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}
a img {
	border: none;
}




/* SITE SPECIFIC CSS
===================================== */
/*#SITE-SPECIFIC GENERAL STYLING*/



/*BODY===================================== */
body{
  background: #fff;
}

.container {
  position: relative;
  width: 58.75em; /* 940px / 16px = 58.75em */
  margin: 0 auto;
}

h1 {
  font-size: 3.125em; /* 50px */
  font-weight: bold;
  letter-spacing: -.03em;
  margin:0;
}
/*Ask the kerning-50=?em*/

h2 {
  font-size: 5.950em; /* 95.21px */
  line-height: 1em;
  /*line-height:5.95em; /* 95.21px */*/
  font-weight: bold;
}

h3 {
  font-size: 2.25em; /* 36px */
  /*line-height: 4.894em; /* 78.31px */*/
  font-weight: bold;
}

h4 {
  font-size: .625em; /* 10px */
  /*line-height: 0.97875em; /* 15.66px */*/
  font-weight: bold;
  color: #666666;

}

/*HEADER==========================s===========*/
a{
	color: #000;
}
header {
	text-align: center;
	padding: 5em 0 0 0;
}

.tagline {
	font-size: .75em;
	text-transform: uppercase;
  margin-bottom: 3.125em;
}



/*MAIN NAV=====================================*/

.mainnav {
  /*margin: 2em 0;*/
  padding: 2px 0;
  border-top: 2px solid #d5d5d5;
	border-bottom: 2px solid #d5d5d5;
  /*margin: 0 10px 0 10px;*/
  text-align: center;

}
.mainnav ul{
  margin:0;
}
.mainnav ul li {
    display: inline-block;
    margin: 0;
    padding: 0.5em 1.25em;

}
.mainnav li:hover{
  background: #ececec;
}
.mainnav .active{
  background: #ececec;

}

.mainnav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    line-height: 0.01px;
    /*padding: 0.5em 1.25em;*/
}
.mainnav small {
  display: block;
	font-size: .625em;
	line-height: 0.9em;
	color: #999;
	font-weight: normal;
}




/*CONTENT=====================================*/
/*Section1===================*/
.section01{
  background: #ececec;
  padding: 4em 0;
  margin: 1.875em 0 3em 0;
  text-align: center;
  border-radius: 20px;
/*ask the round border*/
}
.section01 h2{
  margin: 0 0 .25em 0;
  padding: 0 5%;
}
.section01 p{
  font-size: 1.3125em;
  line-height: 1.6em;
  margin: 0;
  padding: 0 15%;
}
/*Section2===================*/
/*.section02{
  margin: 3em 0;
}*/
.section02 img{
  border-radius: 20px;
  }
.byline{
  font-size: 0.625em;
  font-weight: bold;
  line-height: 0.978em;
}

h3,.byline {
  margin: 0;
}
h3 .byline, a img{
  margin: .75em 0;
}
.readmore {
  color: #3399cc;
}
/*Section3===================*/
.section03 h3 {
  font-size: 1.5em;
  line-height: 1.875em;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	margin: 2em 0 0 0;
	padding: .5em 0 .25em 0;
}
.section03 p {
	text-align: center;
	font-size: 1.3125em;
	line-height: 1.8755em;
	padding: 2em 10%;
	border-bottom: 1px solid #d5d5d5;
	margin: 0 0 1em 0;
}

/*Section4===================*/

.section04 ul {
	list-style: none;
	margin: 2em 0;
}
.section04 ul li {
	position: relative;
  padding: 0 0 1em 4.5em;
}

.section04 i {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 3.5em;
	line-height: 1.25em;
  color: #333;
}

.section04 h4{
  font-size: 1.125em;
  font-weight: bold;
  line-height: 2.25em;
  margin-bottom: 0;
  color:#090807;
}
 .section04 p{
  font-size: 1em;
  line-height: 1.25em;
  color:#090807;
}

/* FOOTER================== */
.footer{
  background:#ececec;
  border-top: 3px solid #cecece;
  padding: 2.625em 0 10em 0;
}
.footer .logo {
	float: left;
	margin: 0;
}
.footer .logo h1{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -.03em;
}
.copyright{
  font-size: 0.625em;
  line-height: 1em;
  font-weight: normal;
  color: #999;
}
.logo{
  margin:0;}

.footer .footernav{
  text-align: right;
  float: right;
}
.footernav ul {
  list-style: none;
  text-align: right;
  float: right;
  margin: 0;
}
.footernav ul li {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1.25em;

}
.footernav ul li a small {
	display:  block;
	font-size: .625em;
	line-height: .9em;
	color: #999;
	font-weight: normal;
}









/* LAYOUT/GRID================== */

.col2{
  width:300px;
  float: left;
  margin-right: 20px;
}
.col2:last-of-type{
  margin-right:0;
}

.col4a{
  width: 340px;
  float: left;
  margin: 0 40px 0 140px;

}
.col4b{
  width: 340px;
 float: left;
 margin-left : 0;

}



/* MEDIA QUERIES ========================= */

@media only screen and (min-width: 48em) and (max-width: 62em) {

  body {
    font-size: 87.5%; /* 14px / 16px = 0.875 * 100 = 87.5% */
  }

  .container {
    width: 92%;
  }

  .section02 .col2,
  .section04.col4a,
  .section04.col4b{
    width: 30%;
    margin-right: 5%;
  }
}


  @media only screen and (max-width: 47.9999em) {

    body {
      font-size: 75%; /* 12px / 16px = 0.75 * 100 = 75% */
    }

    .container {
      width: 96%;
    }

    .header {
      height: 115px;
    }

    .logo {
      padding-top: 1em;
    }

    .logo a {
      position: static;
      margin: 0 auto;
      width: 250px;
      padding-top: 43px;
      background-size: 250px 43px;
    }

    .mainnav {
      min-height: 60px;
    }

    .mainnav ul {
      padding: .8em 0;
      display: none;
    }

    .mainnav li {
      float: none;
    }
    .col4a{
      margin:0;
    }

    .section02 .col2,
    .section04.col4a,
    .section04.col4b,
    .footer .col, {
      width: 96%;
      float: none;
      margin: 1em 2%;
    }

    .footernav {
    display: none;
    }

    .section02 .col {
      margin-bottom: 3em;
    }

    .footer .col {
      margin-bottom: 1em;
    }

    .copyright {
      float: none;
      margin: 0 2%;
    }
}
