/* CSS TABLE OF CONTENTS
=====================================
    #BASE CSS
    #SITE-SPECIFIC CSS
===================================== */

/* BASE (Initital Setup)*/
=====================================
    /*#RESET*/
    * {
      margin: 0px;
      padding: 0px;
    }

    /*#HTML5*/
    header, section, footer, aside, article, nav, figure, {
        display: block;
    }

    /*#BASE TYPOGRAPHY*/

    /*#BODY*/
    body {
      font-size: 100%; /* 1 em= 16 px */
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5em;
      color: #333;
    }

    p {
      font-size: 50%;
    }

    /*#HEADINGS*/

    h1, h2, h3, h4, h6 {
      margin-bottom: .5em;
      line-height: 1em;
    }

    h1 {
      font-size: 3em;
      line-height: 10px;
    }

    h2 {
      font-size: 1.55em;
      line-height: 1.1em;
      /*padding-left: 180px;*/
    }

    h3 {
      font-size: 2.25em;
      line-height: 0em;
    }

    h4 {
      font-size: 0.625;
      line-height: 13px;
      color: #666;
    }

    h5 {
      font-size: 1.125em;
      line-height: 1.4em;
    }

    h6 {
      font-size: 1em;
      line-height: 1.5em;
    }



    /*#PARAGRAPHS*/
    /*#LINKS*/
    /*#LISTS*/
    /*#IMAGES*/
    /*#CLEARFIX*/

/* MEDIA QUERIES
===================================== */
/* Tablet */
@media only screen and (min-width: 48em) and (max-width: 62em) {

}

/* MOBILE */
@media only screen and (max-width: 47.9999em) {

}

 /*SITE SPECIFIC (Custom CSS for The Client Site)
=====================================*/
    /*#LAYOUT/GRID*/

    .row .col-4{
      width: 23.4%;
      float: left;
      margin-right: 14.9%;
    }

    .row .col-4:last-of-type {
      margin-right: 0
    }

    .section02 {
      text-align: center;
    }

    /*HEADER*/
  header {
    text-align: center;
  }

  /*MAIN NAV*/
  .main-nav ul {
    padding: 1em 0;
  }

  .main-nav li {
    float: none;
  }

  .mainnav {
    background: white;
    text-align: center;
    border-top: 1px solid #999;
  }

  .mainnav a {
    display: block;
    margin: 0;
    font-family: "Arial Black", "Arial Bold", Helvetica, Gadget, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    /*padding: 0.8em 0.5em;*/
    text-decoration: none;
    color: #000;
  }

  .mainnav a:hover{
    background: #999;
    color: #000;
  }

  .mainnav a.active {
    color: #53aee0;
    background: transparent;
  }

  .mainnav small {
    color: #999;
  }

  .mainnav ul {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #999;
  }

  .mainnav li {
    margin-left: 0;
    float: left;
  }

  .hero {
    background: #444;
    margin-top: 31px;
    text-align: center;
    background: #ececec;
    border-radius: .9375em;
    width: 100%;
    height: 23.5625em;
  }

  .hero h2 {
    font-size: 93pt;
  }

  .hero p {
    font-size: 21pt;
    line-height: 31pt;
  }

  img {
    margin-top: 15px;
  }

  .row {
    margin-top: 15px;
  }

  .row ul li {
    list-style: none;
  }

  .row p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .section02 p {
    font-size: 1.3125em;
    padding: 45px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
  }

  /* FOOTER */
.footer {
  margin: 0;
  padding: 0;
  background: #ececec;
  color: #000;
  border-top: 1px solid #333;
}

.footer ul li {
  margin: 0;
  list-style: none;
}

.footer ul li a {
  display: block;
  color: #a5a5a5;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  /*line-height: 1.111em; /* 20px / 18px = 1.111em */*/
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  /*font-weight: bold;
  text-transform: uppercase;*/
}

/*.footer ul li ul {
  border-top: 1px solid #fff;
  margin-top: .4em;
  margin-bottom: 1em;
  padding-top: .4em;
}*/

.footer ul li ul li a {
  font-weight: normal;
  text-transform: none;
  font-size: .6875em; /* 11px / 16px = .6875em */
  /*line-height: 1.63em; /* 18px / 11px = 1.63em */
}*/

.footer ul li ul li a:hover {
  text-decoration: underline;
}

.copyright {
  color: #a5a5a5;
}




    /*#SECTIONS*/
    /*#MEDIA QUERIES*/
    /*#@FONT-FACE*/
/*===================================== */
